        body {
            background-color: rgb(242, 242, 166);
            font-family: monospace;
            color: blue;
            
        }
        .header {
            display: flexbox;
            background-color: rgb(194, 243, 226);
            color: blue;
            font-family: monospace;
            font-size: 20px;
        }
        .name {
        
        }
        .form_name {
            margin-left: 40px;
            width: 200px;
        }
        .input_birth {
            margin-top: 8px;
            margin-left: 33px;
            width: 110px;
            
        }
        .checkbox {
            margin-top: 8px;
            margin-left: 45px;
        }
        .address {
            margin-top: 8px;
            margin-left: 52px;
            height: 50px;
            width: 180px;
        }
        .option {
            margin-top: 8px;
            margin-left: 72px;
            width: 100px;
        }
        .email {
            margin-top: 8px;
            margin-left: 60px;
            width: 150px;
        }
        .phone {
            margin-top: 8px;
            margin-left: 31px;
            width: 150px;
        }
        .button {
            margin-left: 110px;
            margin-top: 8px;
        }
 